.Header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 1530px;
  width: 100%;
  // border-bottom: 2px solid gray;

  i {
    position: absolute;
    top: 65px;
    left: 550px;
    display: none;
  }

  .Logo {
    img {
      margin-top: 41px;
      margin-left: 46px;
    }
  }

  .Menu {
    ul {
      display: flex;

      margin-top: 70px;
      li {
        list-style-type: none;
        margin-left: 40px;

        width: 125px;
        text-align: center;
        font-family: "Open Sans";

        a {
          text-decoration: none;
        }
        a.active {
          background-color: #b2d235;
          color: white;
          padding-left: 13px;
          padding-right: 13px;
          padding-top: 7px;
          padding-bottom: 7px;
          font-weight: bold;
          font-size: 13px;
          border-radius: 7px;
        }
      }
    }
  }

  .Menu_2 {
    position: absolute;
    display: none;

    ul {
      // border: 1px solid #000;
      position: absolute;
      width: 1530px;
      background-color: white;
      left: -556px;
      top: 85px;
    }
  }
}

@media only screen and (min-width: 439px) and (max-width: 768px) {
  .Header {
    // border: 1px solid #000;
    width: 763px;
    i {
      // border: 1px solid #000;
      display: block;
      margin-left: 180px;
      cursor: pointer;
    }
    .Logo {
      // border: 1px solid #000;
      img {
        // border: 1px solid #000;
        width: 224px;
        height: 50.81px;
        margin-left: 0;
      }
    }
    .Menu {
      display: none;
    }
    .Menu_2 {
      // border: 1px solid #000;
      display: block;
      left: 555px;
      top: 50px;

      z-index: 10;

      ul {
        // border: 1px solid #000;
        padding-top: 10px;
        padding-left: 0px;
        width: 769px;
        height: 367px;

        li {
          // border: 1px solid #000;
          padding-left: 20px;
          height: 67px;
          list-style-type: none;
          padding-top: 24px;
          border-bottom: 1px solid gray;
          font-weight: 500;
          background-color: white;

          width: 744px;
        }
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 439px) {
  .Header {
    width: 239px;
    i {
      display: block;
      left: 420px;
      cursor: pointer;
    }

    .Logo {
      // border: 1px solid #000;
      img {
        // border: 1px solid #000;
        width: 150px;
        height: 26px;
        margin-left: 0;
        margin-top: 57px;
      }
    }
    .Menu {
      display: none;
    }
    .Menu_2 {
      display: block;
      // border: 1px solid #000;
      background-color: white;
      ul {
        // border: 1px solid #000;
        padding-top: 50px;
        padding-left: 0px;
        width: 434px;
        height: 450px;
        left: -2px;

        li {
          padding-left: 20px;
          height: 67px;
          list-style-type: none;
          padding-top: 26px;
          border-bottom: 1px solid gray;
          font-weight: 500;
          width: 417px;
          background-color: white;
        }
      }
    }
  }
}
